/*====shop====*/


/*===head===*/

body {
	background-color: #f5f5f5;
	line-height: 1.5;
}

body .topbg {
	background-color: #fff;
}

.header {
	background-color: #fff;
}

.head {
	width: 1190px;
	position: relative;
	margin: 0 auto 0 auto;
	height: 110px;
	z-index: 99;
}


/*2015-9-15 thl*/

.head .logo {
	float: left;
	width: 266px;
	height: 110px;
	overflow: hidden;
	background: url(../../images/common/logo.png) no-repeat top left;
}


/*2015-9-15 thl*/

.head .logo a {
	display: block;
	width: 266px;
	height: 70px;
	margin-top: 20px;
}


/*== personal shop ==*/

.head-shop {
	float: left;
	background: url(../../../images/shop/common/head-line.png) no-repeat left center;
	width: 440px;
	height: 62px;
	padding-left: 15px;
	font-size: 16px;
	margin-top: 30px;
}

.head-shop-one {
	height: 28px;
	margin-bottom: 7px;
}

.head-shop-tit {
	float: left;
	max-width: 320px;
	margin-right: 10px;
	overflow: hidden;
	height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.head-shop-manage {
	float: left;
	position: relative;
	z-index: 100;
}

.head-shop-manage-top {
	width: 106px;
	height: 24px;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	background: url(../../../images/shop/common/select-dot.png) no-repeat 90px -40px #fff;
	line-height: 24px;
	cursor: pointer;
}

.head-shop-manage-top i {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../../images/common/shop-ico.png) no-repeat 0 0;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.head-shop-manage-top.cur {
	background-position-x: -40px;
}

.head-shop-manage-top span {
	font-size: 14px;
	color: #666;
}

.head-shop-manage ul {
	display: none;
	position: absolute;
	z-index: 100;
	top: 24px;
	left: 0px;
	border-bottom: 1px solid #e3e3e3;
}

.head-shop-manage ul li {
	font-size: 14px;
	width: 120px;
	height: 28px;
	line-height: 28px;
	text-indent: 15px;
	background: url(../../../images/shop/common/select-li.png) no-repeat 0 0 #fff;
	border: 1px solid #e3e3e3;
	border-bottom: none;
}

.head-shop-manage ul li:hover {
	background: url(../../../images/shop/common/select-li.png) no-repeat 0 -50px #fff;
}

.head-shop-manage ul li a {
	width: 100%;
	height: 100%;
	display: block;
}

.head-shop-two {
	height: 26px;
	line-height: 26px;
}

.head-shop-two .shop-personal {}

.head-shop-two .shop-personal i {
	float: left;
	padding: 2px;
	background-color: #e3e3e3;
	height: 22px;
	width: 22px;
}

.head-shop-two .shop-personal i img {
	display: block;
	margin-top: 2px;
	margin-left: 2px;
}

.head-shop-two .shop-personal span {
	float: left;
	background-color: #fff;
	height: 24px;
	line-height: 24px;
	border: 1px solid #e3e3e3;
	border-left: none;
	padding: 0 10px;
}

.head-shop-two .shop-personal span.green {
	color: #009237;
}

.head-shop-two .shop-personal span b {
	font-weight: 100;
	color: #f47a11;
	padding: 0 5px;
}

.head-shop-two ul {
	margin-top: 3px;
	float: left;
}

.head-shop-two ul li {
	float: left;
	margin-left: 8px;
}


/* search */

.head .search {
	float: right;
	width: 445px;
	/* overflow:hidden; */
	padding: 37px 0 0 0;
	display: inline;
}


/*2015-9-15 thl*/

.sear-area {
	width: 465px;
	height: 36px;
	/* overflow:hidden; */
	float: right;
	display: inline;
}


/*2015-9-15 thl*/

.sear-area input.sear-inpt {
	float: left;
	width: 263px;
	height: 32px;
	border: 2px solid #ff4400;
	border-right: none;
	background: #fff;
	line-height: 33px;
	overflow: hidden;
	padding: 0 5px;
	outline: none;
}

*html .sear-area .sear-inpt {
	width: 261px;
}

*+html .sear-area .sear-inpt {
	width: 261px;
}

.sear-area .sear-btn {
	float: left;
	width: 70px;
	height: 36px;
	border: none;
	border: 0;
	background: #ff4400;
	cursor: pointer;
	color: #fff;
	font-family: å¾®è½¯é›…é»‘ !important;
	font-size: 14px;
}

.sear-area .sear-btn:hover {
	background: #ffae00;
}

.sear-area .sear-btn2 {
	float: left;
	width: 70px;
	height: 36px;
	color: #ff6d00;
	border: 2px solid #ff6d00;
	background: #fff;
	cursor: pointer;
	font-family: å¾®è½¯é›…é»‘ !important;
	font-size: 14px;
	margin-left: 5px;
}

.sear-area .sear-btn2:hover {
	border-color: #ff4400;
	background-color: #ff4400;
	color: #fff;
}

.head .home-ewm {
	display: none;
	float: left;
	background: url(../../../images/shop/common/ewm-ico.png) no-repeat 3px 3px #e3e3e3;
	width: 30px;
	height: 30px;
	padding: 3px;
	margin-left: 5px;
	position: relative;
}

.head .home-ewm .home-ewm-big {
	position: absolute;
	top: 35px;
	right: 0;
	background-color: #e3e3e3;
	padding: 5px;
	padding-bottom: 0;
	display: none;
}

.head .home-ewm .home-ewm-big img {
	width: 132px;
	height: 132px;
}

.head .home-ewm .home-ewm-big p {
	line-height: 30px;
	font-size: 12px;
	text-align: center;
}

.autoComplete {
	width: 275px;
	position: relative;
	float: left;
}

.autoComplete input {
	width: 200px;
	height: 25px;
	margin: 0;
	padding: 0;
	line-height: 25px;
}

.autoComplete ul {
	z-index: -12;
	padding: 0px;
	margin: 0px;
	border: 2px solid #ddd;
	width: 451px;
	background: white;
	display: none;
	position: absolute;
	left: 0;
	top: 34px;
}

.autoComplete li {
	list-style: none;
	color: #999;
	line-height: 24px;
}

.autoComplete li a {
	display: block;
	color: #333;
	text-decoration: none;
	padding: 1px 0 1px 5px;
	_width: 97%;
}

.autoComplete li a:hover {
	color: #000;
	background: #f1f1f1;
	border: none;
}

.bt_1 {
	border-top: 1px solid #ddd;
}

.autoComplete strong {
	color: #ff4400;
}

.autoComplete .org {
	border: 2px solid #ff4400;
	color: #3e3e3e;
}

.red,
a.red,
a:visited.read,
a:hover.red {
	color: #f00;
	text-decoration: none;
}

.org,
a.org,
a:visited.org,
a:hover.org {
	color: #ff4400;
}


/* nav */

.type-nav {
	background-color: #05ae40;
}

.type-nav ul {
	overflow: hidden;
	width: 1190px;
	margin: 0 auto;
}

.type-nav ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.type-nav a {
	color: #fff;
	text-decoration: none;
	width: auto;
	height: auto;
	padding: 0 25px;
	display: block;
}

.type-nav a:hover {
	color: #fff;
}

.type-nav ul li.l1 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat 0 0;
}

.type-nav ul li.l2 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat -50px 0;
}

.type-nav ul li.l3 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat -100px 0;
}

.type-nav ul li.l4 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat -150px 0;
}

.type-nav ul li.l5 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat -200px 0;
}

.type-nav ul li.l6 i {
	float: left;
	margin: 12px 10px 0 0;
	display: block;
	width: 18px;
	height: 17px;
	background: url("../../../images/shop/common/nav-ico.png") no-repeat -250px 0;
}

.type-nav ul li.cur,
.type-nav ul li:hover {
	background-color: #009534;
}


/*- shop_crumbs -*/

.shop_crumbs {
	height: 30px;
	line-height: 24px;
	letter-spacing: normal;
	margin-top: 8px;
	overflow: hidden;
	width: 1190px;
	margin: 0 auto;
}

.shop_crumbs dl {
	color: #888;
	margin: 4px 0 0;
}

.shop_crumbs dt {
	display: inline;
	float: left;
}

.shop_crumbs dd {
	display: inline;
	float: left;
}


/*-- page --*/

.page a:hover {
	color: #009534;
	border-color: #009534;
}

.page a.cur,
.page a.active,
.page a.active:hover {
	background-color: #009534;
	border-color: #009534;
	color: #fff;
}

.page a,
span.cios {
	padding: 10px 12px;
	border: 1px solid #e2e6e9;
	margin: 0 5px;
	background-color: #fff;
}

.page span {
	margin: 0 5px;
}

.page span input {
	width: 40px;
	height: 28px;
	border: 1px solid #e2e6e9;
	text-align: center;
}

.page span button {
	padding: 10px 15px;
	border: 1px solid #e2e6e9;
	border-radius: 3px;
	background: #fff;
	cursor: pointer;
}


/*-- shop-con-left --*/

.shop-con-left {
	width: 210px;
	float: left;
}


/*-- shop-con-left æ ç›®å¤´ --*/

.shop-con-left .l-tit {
	width: 208px;
	height: 32px;
	line-height: 30px;
	background: url("../../../images/shop/common/tit-bg.png")no-repeat bottom #fff;
	border-bottom: 2px solid #019535;
}

.shop-con-left .l-tit span {
	float: left;
	padding: 0 10px;
	font-size: 16px;
	color: #009237;
	border-bottom: 2px solid #019535;
}

.shop-con-left .l-tit a {
	float: right;
	margin-right: 10px;
	font-size: 14px;
}

.shop-con-left .l-tit a i {
	width: 18px;
	height: 18px;
	margin: 7px 0 0 5px;
	float: right;
}


/*-- shop-con-l-info åº—é“ºä¿¡æ¯ --*/

.shop-con-l-info {
	background-color: #fffef1;
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
}

.shop-con-l-info .l-info-tit {
	background-color: #fffce0;
	line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #e3e3e3;
	padding: 8px 12px;
	overflow: hidden;
}

.shop-con-l-info ul {
	overflow: hidden;
}

.shop-con-l-info ul li {
	float: left;
	margin-top: 10px;
	padding: 0 12px;
}

.shop-con-l-info ul li.li-1 {
	font-size: 16px;
	width: 184px;
}

.shop-con-l-info ul li.li-1 i {
	float: left;
	padding: 2px;
	background-color: #e3e3e3;
	height: 22px;
	width: 22px;
}

.shop-con-l-info ul li.li-1 i img {
	display: block;
	margin-top: 2px;
	margin-left: 2px;
}

.shop-con-l-info ul li.li-1 span {
	float: left;
	background-color: #fff;
	height: 24px;
	line-height: 24px;
	border: 1px solid #e3e3e3;
	border-left: none;
	padding: 0 10px;
}

.shop-con-l-info ul li.li-1 span.green {
	color: #009237;
}

.shop-con-l-info ul li.li-1 span b {
	font-weight: 100;
	color: #f47a11;
	padding: 0 5px;
}

.shop-con-l-info ul li.li-2 {
	width: 184px;
}

.shop-con-l-info ul li.li-2 span {
	float: left;
	margin-right: 8px;
}

.shop-con-l-info ul li.li-3 {
	width: 184px;
}

.shop-con-l-info ul li.li-3 span {
	color: #ff0000;
}

.shop-con-l-info ul li.li-4 span {
	margin-right: 10px;
}

.shop-con-l-info ul li.li-5 {
	margin-bottom: 10px;
}

.shop-con-l-info ul li.li-5 a {
	float: left;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	color: #009237;
	width: 86px;
	height: 28px;
	line-height: 28px;
	display: block;
}

.shop-con-l-info ul li.li-5 a.l-info-collect {
	margin-right: 8px;
}

.shop-con-l-info ul li.li-5 a.l-info-collect i {
	float: left;
	width: 18px;
	height: 18px;
	margin: 5px 3px 0 8px;
	background: url("../../images/common/shop-ico.png")no-repeat -150px 0;
}

.shop-con-l-info ul li.li-5 a.l-info-access i {
	float: left;
	width: 18px;
	height: 18px;
	margin: 7px 3px 0 8px;
	background: url("../../images/common/shop-ico.png")no-repeat -100px 0;
}


/*-- shop-con-l-ewm åº—é“ºäºŒç»´ç  --*/

.shop-con-l-ewm {
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
}

.shop-con-l-ewm .l-tit .s-dot i {
	background: url("../../images/common/shop-ico.png")no-repeat -50px 0;
	width: 18px;
	height: 18px;
	margin: 7px 0 0 5px;
	float: right;
}

.shop-con-l-ewm .l-tit .s-dot {
	position: relative;
	float: right;
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
}

.shop-con-l-ewm .l-tit .s-dot:hover {
	color: #f47a11;
}

.shop-con-l-ewm .l-tit .s-dot .s-dot-top {
	background: url(../../images/common/s-dot-top.png) no-repeat center top;
	width: 12px;
	height: 7px;
	position: absolute;
	top: -7px;
	left: 85px;
	z-index: 11;
}

.shop-con-l-ewm .l-tit .s-dot .s-dot-box {
	position: absolute;
	top: 30px;
	left: -50px;
	border: 1px solid #009237;
	border-radius: 5px;
	z-index: 1000;
	padding: 10px 10px 5px 10px;
	background-color: #fff;
	display: none;
	width: 180px;
}

.shop-con-l-ewm .l-tit .s-dot .s-dot-box a {
	display: block;
	float: left;
	margin: 0 14px;
	text-align: center;
}

.shop-con-l-ewm .l-tit .s-dot .s-dot-txt span {
	float: left;
	width: 60px;
	margin: 0;
	padding: 0;
	border: none;
	color: #333;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	background: none;
}

.shop-con-l-ewm .l-ewm-box {
	padding: 20px 20px 10px;
	background-color: #fff;
}

.shop-con-l-ewm .l-ewm-box img {
	width: 164px;
	height: 164px;
	border: 2px solid #dcdcdc;
}

.shop-con-l-ewm .l-ewm-box p {
	color: #666;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
}


/*-- shop-con-l-relation   è”ç³»æ–¹å¼ --*/

.shop-con-l-relation {
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
	overflow: hidden;
}

.shop-con-l-relation .l-relation-box {
	padding: 10px;
	background-color: #fff;
}

.shop-con-l-relation .l-relation-box a.rel-btn {
	display: block;
	border: 1px solid #e3e3e3;
	background-color: #f1f1f1;
	color: #009237;
	width: 186px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
}

.shop-con-l-relation .l-relation-box a.rel-btn:hover {
	background-color: #009237;
	color: #fff;
	text-decoration: none;
}

.side-contact {
	line-height: 28px;
	font-size: 12px;
	margin-bottom: 10px;
}

.side-contact a img {
	padding: 5px;
	background: #009237;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.side-contact a:hover img {
	background-color: #f47a11;
}

.side-contact li {
	word-wrap: break-word;
	word-break: break-all;
}

.side-contact li em img {
	vertical-align: middle;
}

.side-contact li span {
	color: #666;
}

.side-contact li span.side-contact-name {
	width: 70px;
	height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.side-contact a.contact-btn {
	float: right;
	padding-left: 18px;
	color: #009237;
	background: url("../../images/common/ico-contact.png")no-repeat center left;
}


/*-- shop-con-l-classify   äº§å“åˆ†ç±» --*/

.shop-con-l-classify {
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
	overflow: hidden;
}

.shop-con-l-classify .l-classify-box {
	padding: 10px;
	background-color: #fff;
}

.shop-con-l-classify .l-classify-box dl {}

.shop-con-l-classify .l-classify-box dt {
	color: #009237;
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #e3e3e3;
	font-size: 14px;
	cursor: pointer;
	background: url("../../images/common/classify-ico.png")no-repeat 0 10px;
	text-indent: 15px;
}

.shop-con-l-classify .l-classify-box dd {
	height: 28px;
	line-height: 28px;
	display: none;
	background: url("../../images/common/classify-ico.png")no-repeat 13px -89px;
	text-indent: 25px;
}


/*-- shop-con-l-recommend   åº—å®¶æŽ¨è --*/

.shop-con-l-recommend {
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
	overflow: hidden;
}

.shop-con-l-recommend .l-recommend-box {
	padding: 20px 25px;
	background-color: #fff;
}

.shop-con-l-recommend .l-recommend-box ul {
	overflow: hidden;
}

.shop-con-l-recommend .l-recommend-box ul li {
	float: left;
	height: 206px;
	width: 160px;
	text-align: center;
}

.shop-con-l-recommend .l-recommend-box ul li .tj {
	width: 156px;
	height: 156px;
	border: 1px solid #e3e3e3;
	display: table;
}

.shop-con-l-recommend .l-recommend-box ul li .tj img {
	height: 144px;
	width: 144px;
	padding: 6px;
	display: table-cell;
	vertical-align: middle;
}

.shop-con-l-recommend .l-recommend-box ul li p {
	font-size: 12px;
	width: 154px;
	text-align: left;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.shop-con-l-recommend .l-recommend-box ul li p span {
	font-size: 14px;
	color: #f47a11;
}


/*-- shop-l-discuss   å·¦ä¾§æµ®åŠ¨ç‚¹å‡»æ´½è°ˆ --*/

.shop-l-discuss {
	position: fixed;
	z-index: 995;
	left: 0;
	top: 40%;
	height: 160px;
	width: 18px;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	padding-top: 5px;
	background: url("../../images/common/right.jpg") no-repeat center 145px #019535;
	cursor: pointer;
	display: none;
}

.call-phone {
	border-bottom: solid 1px #6ccc8e;
	padding-bottom: 8px;
}

.shop-l-discuss a {
	color: #fff;
	display: inline-block;
	margin: 3px 0px;
}

.shop-l-discuss a:hover {}

.l-discuss-box {
	position: fixed;
	background: #fff;
	z-index: 995;
	left: 0;
	top: 40%;
	height: 145px;
	width: 151px;
	color: #fff;
	font-size: 16px;
	border: solid 1px #e3e3e3;
}

.l-d-box-tit {
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding-left: 0px;
	background: url("../../images/common/left.jpg") no-repeat 50px center #fff;
	cursor: pointer;
	color: #999999;
	font-size: 14px;
}

.l-d-box-con {
	border-right: 1px solid #e3e3e3;
	width: 150px;
	height: 65px;
	background-color: #fff;
}

.l-d-box-con p {
	font-size: 14px;
	color: #009237;
	width: 150px;
	padding: 15px 0 11px 0;
	text-align: center;
}

.l-d-box-con a {
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #019535;
	line-height: 24px;
	width: 110px;
	margin: 10px 17px;
	display: block;
	border: 1px solid #019535;
	border-radius: 3px;
}

.l-d-box-con a:hover {
	background-color: #009237;
}

.l-d-box-bottom {
	width: 151px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	background-color: #fff;
	color: #999999;
}

.l-d-box-bottom span {
	color: #333;
	margin-left: 6px;
}

.l-d-box-con a.shopon-line {
	background: #fff;
	color: #019535;
}

.show-big {
	display: inline-block;
	width: 18px;
	height: 18px;
}


/* -------ç™»é™†å¼¹å‡ºçª— --------*/


/* 2015-9-1 add */

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../images/common/hei.png) repeat;
	opacity: 0.4;
	filter: alpha(opacity=40);
	display: none
}

.theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 365px;
	margin: -200px 0 0 -200px;
	border-radius: 5px;
	display: none;
	padding: 5px;
	background: #A1A1A1;
}

*html .theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 350px;
	margin: -175px 0 0 -200px;
}

.theme-poptit {
	border-bottom: 1px solid #ddd;
	padding: 6px;
	position: relative;
	background: #f3f3f3;
	font-weight: bold;
}

*html .theme-poptit {
	border-bottom: 1px solid #ddd;
	padding: 6px;
	position: absolute;
	background: #f3f3f3;
	font-weight: bold;
}

.theme-popbod {
	width: 248px;
	height: 270px;
	float: left;
	background: #FFF;
	padding: 30px 75px;
}

.theme-all {
	width: 398px;
	height: 363px;
	float: left;
	border: solid 1px #777;
}

.theme-popbod ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #666;
}

.theme-popbod ul .li1 {
	width: 100%;
	height: 20px;
	float: left;
}

.theme-popbod ul .li2 {
	width: 100%;
	height: 30px;
	float: left;
	padding-bottom: 12px;
}

.theme-popbod ul .li3 {
	width: 100%;
	height: 20px;
	float: left;
	padding-bottom: 7px;
}

.theme-popbod ul .li4 {
	width: 100%;
	height: 33px;
	float: left;
	padding-bottom: 40px;
}

.theme-popbod ul .li5 {
	width: 100%;
	height: 18px;
	float: left;
}

.theme-poptit .close {
	float: right;
	color: #999;
	padding: 5px;
	margin: -2px 0px -5px 0px;
	font: bold 14px/14px simsun;
	text-shadow: 0 1px 0 #777;
	text-decoration: none;
}

.theme-poptit .close a {
	text-decoration: none;
}

.theme-poptit .close:hover {
	color: #666;
}

.theme-popbod .login-text {
	width: 242px;
	height: 18px;
	line-height: 18px;
	margin-right: 3px;
	padding: 3px;
	border: solid 1px #c8c8c8;
	vertical-align: middle;
	color: #999;
}

.zd_left {
	float: left;
}

.zd_bold {
	font-weight: bold;
}

.zd_right {
	float: right;
}

.theme-popbod ul .li3 input {
	padding: 0px;
	margin: 0px 6px 0px 0px;
}

.theme-popbod ul .li3 input {
	vertical-align: middle;
}

.theme-popbod ul .li4 button {
	width: 250px;
	height: 33px;
	border: 0;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	line-height: 31px;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	background: url(../../images/common/zd_but.png) no-repeat 0 0;
	cursor: pointer;
	zoom: 1;
}

.theme-popbod ul .li4 button:hover {
	background: url(../../images/common/zd_but.png) no-repeat 0px -33px;
}

.theme-popbod a {
	text-decoration: none;
	color: #444;
}

.theme-popbod a:hover {
	text-decoration: underline;
	color: #ff7300;
}

.theme-popbod ul .li5 img {
	vertical-align: middle;
}

.zd_qqlg {
	width: 100%;
	height: 18px;
	float: left;
	background: url(../../images/common/zd_qq.jpg) 0px center no-repeat;
	padding-left: 20px;
	line-height: 18px;
}


/* //2015-9-1 add */


/* å¼¹å‡ºçª— 4.0æ–°base.css è¡¥å…… */

.w_full {
	width: 100%;
}

.pt_10 {
	padding-top: 10px;
}

.mb_10 {
	margin-bottom: 10px;
}

a.zhuanjie {
	border: solid 1px #98CDA2;
}

a.zhuanjie:hover,
a.zhuanjie:active,
a.zhuanjie:focus {
	background-color: #98CDA2;
	text-decoration: none;
}

.hide-zz {
	display: none;
}

.zhezhao {
	position: fixed;
	background-color: #000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	_position: absolute;
	_height: expression(eval(documentElement.clientHeight));
	_top: expression(eval(document.documentElement.scrollTop));
	z-index: 9998;
}

.out-box {
	position: fixed;
	width: 322px;
	height: 453px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-top: -226px;
	margin-left: -161px;
	_position: absolute;
	_top: expression(eval(documentElement.scrollTop + (documentElement.clientHeight-this.offsetHeight)/2));
	_margin-top: 0;
	z-index: 9999;
	background: url(../../../images/purchase/erweima.png) center no-repeat;
	border-radius: 4px;
}

.out-box2.out-box {
	background: url(../../../images/purchase/callerwm.png) center no-repeat;
}

.out-box img {
	padding-top: 140px;
	padding-left: 60px;
	width: 200px;
	height: 200px;
}

a.close-er {
	display: inline-block;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.sub-div {
	text-align: center
}

.sub-div button {
	width: 130px;
	line-height: 35px;
	background: #FF7C00;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.out-box-cont span {
	display: inline-block;
	width: 80px;
	text-align: center;
	line-height: 24px;
	background: #FAFAFA;
	border: solid 1px #FAFAFA;
	cursor: pointer;
}

.out-box-cont span.onselect {
	border: solid 1px #67B23B;
	position: relative;
}

.out-box-cont span.onselect:after {
	display: inline-block;
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background: url("../../images/supply/jiao.jpg") center no-repeat;
	right: 0px;
	bottom: 0px;
}

.call-400-mit p {
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.call-400-mit {
	padding-bottom: 15px;
	padding-top: 15px;
}

.call-box {
	position: fixed;
	width: 350px;
	height: 200px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -175px;
	_position: absolute;
	_top: expression(eval(documentElement.scrollTop + (documentElement.clientHeight-this.offsetHeight)/2));
	_margin-top: 0;
	z-index: 9999;
	background-color: #fff;
	border-radius: 4px;
}

.call-400-mit .font-18 {
	font-size: 18px;
}