
#menu {padding: 0px;margin: 0px;font-size: 20px;font-family: "微软雅黑";}
li{list-style: none;}
#menu{width: 180px;height: 100px;margin-top: 10px;padding:0px 0px 10px 0px; float: left;}
#menu li{border-bottom: 0px solid gainsboro;background: #ffffff;}
#menu h2{text-indent:30px;height: 30px;color:#3e3e3e;line-height: 30px;border-bottom: 0px solid darkgray;border-top: 1px solid gainsboro;padding: 12px 0px;}
#menu h2:last-child{border-bottom:1px solid gainsboro;}
#menu .list{display: none;}
#menu .list{text-indent:30px;}
.active{background: #FFFFFF;}
.active11{background: #ffffff ;}
/*#00b845*/
#menu h2:hover{color:#F47A11;border-left:2px solid #F47A11;cursor: pointer;}
#menu h2:hover{color:#F47A11;border-left-width:2px solid #F47A11;cursor: pointer;}
#menu h1{color:#FFFFFF ;background:#00b845 ;line-height: 50px;text-indent: 30px;}
#menu li a{text-decoration:none;color:#3e3e3e;font-size: 15px;cursor: pointer;}
#menu .list li:hover{background: #F47A11;color: #FFFFFF;}
#menu li a:hover{color: #FFFFFF;}
/*--------*/
/*#menu_F{
	width: 500px;
	position: relative;
	right: 1000px;
	top: -510px;
}*/
