<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>nongye</display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.nongye.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>com.nongye.servlet.UserRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/userRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileuploadServlet</display-name>
    <servlet-name>FileuploadServlet</servlet-name>
    <servlet-class>com.nongye.servlet.FileuploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileuploadServlet</servlet-name>
    <url-pattern>/fileuploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileuploadBusinessServlet</servlet-name>
    <servlet-class>com.nongye.servlet.FileuploadBusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileuploadBusinessServlet</servlet-name>
    <url-pattern>/fileuploadBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>com.nongye.servlet.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/personalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LssueProcurementServlet</servlet-name>
    <servlet-class>com.nongye.servlet.LssueProcurementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LssueProcurementServlet</servlet-name>
    <url-pattern>/lssueProcurementServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>